.portfolio .portfolio-item {
    margin-bottom: 30px;
}

.g-img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    height: 300px;
}

